name: Deploy Storage Account (Bicep)

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - uat
      - main

jobs:
  deploy-storage:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name == 'dev' && 'Dev' || github.ref_name == 'uat' && 'UAT' || github.ref_name == 'main' && 'Prod' || github.ref_name == 'master' && 'Prod' }}
    steps:
      - uses: actions/checkout@v4

      - name: 'Login to Azure'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Set subscription'
        run: |
          az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: 'Select param file & RG name by branch'
        id: setup
        run: |
          if [[ "${{ github.ref_name }}" == "dev" ]]; then echo "PARAM_FILE=infra/str/str-account-dev.parameters.json" >> $GITHUB_OUTPUT; echo "RG_NAME=$(jq -r '.rgName.value' infra/rg/resource-group-dev.parameters.json)" >> $GITHUB_OUTPUT; fi
          if [[ "${{ github.ref_name }}" == "uat" ]]; then echo "PARAM_FILE=infra/str/str-account-uat.parameters.json" >> $GITHUB_OUTPUT; echo "RG_NAME=$(jq -r '.rgName.value' infra/rg/resource-group-uat.parameters.json)" >> $GITHUB_OUTPUT; fi
          if [[ "${{ github.ref_name }}" == "main" || "${{ github.ref_name }}" == "master" ]]; then echo "PARAM_FILE=infra/str/str-account-prod.parameters.json" >> $GITHUB_OUTPUT; echo "RG_NAME=$(jq -r '.rgName.value' infra/rg/resource-group-prod.parameters.json)" >> $GITHUB_OUTPUT; fi

      - name: 'Deploy Storage (resource group scope)'
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ steps.setup.outputs.RG_NAME }}
          template: 'infra/str/str.bicep'
          deploymentScope: 'resourceGroup'
          parameters: "@${{ steps.setup.outputs.PARAM_FILE }}"
